<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HOME PAGE</title>
  </head>
  <body>
    <!-- All visible page content goes here -->
    <h1>this is HOME page</h1>

    <h2><%=1+2 %></h2>
    <p>
      Demo Paragraph Text (Lorem Ipsum) Web designers often use placeholder
      "Lorem Ipsum" text to fill a demo paragraph. You can use a snippet like
      the one below: A common placeholder text, Lorem ipsum, is often used by
      web designers within
    </p>

    <p>
      tags for demonstrations. You can find examples and generate more text
      using tools like Dummy Text Generator.
    </p>
    <button>Click me!!!!</button>
  </body>
</html>
