<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NEW POST</title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <form method="post" action="/posts">
      <input
        placeholder="enter username"
        name="username"
        type="text"
      /><br /><br /><br />
      <textarea placeholder="write your post" name="content"></textarea
      ><br /><br /><br />
      <button>SUBMIT</button>
    </form>
  </body>
</html>
