<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Your visible content goes here -->
    <h1>This is home page</h1>
    <h2>The total number of users in database:<%=count%></h2>
    <button>join us today!</button>

    <script src="index.js"></script>
  </body>
</html>
